<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WeSellDrugs</title>
</head>
<body>
    <p>Well this is awkward but well an unexpected error has occured.</p>
    <p>Go back to <a href="/">home</a></p>
</body>
</html>